/** @format */
* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  font-family: "Poppins", sans-serif;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding: 24px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger {
  --offset-horizontal: 11px;
  --offset-vertical: 14px;
  position: relative;
  border-radius: 100%;
  padding: var(--offset-vertical) var(--offset);
  width: 40px;
  height: 40px;
  background-color: #f5f6f7;
}

/* Burger Lines */
.burger-line {
  position: absolute;
  left: 50%;
  top: var(--offset-vertical);
  display: inline-block;
  width: calc(100% - (var(--offset-horizontal) * 2));
  height: 2px;
  background-color: #000;
  transform: translateX(-50%);
}

.burger-line:nth-child(2) {
  top: calc(var(--offset-vertical) + 6px);
}

.burger-line:nth-child(3) {
  top: calc(var(--offset-vertical) + 12px);
}
/* End Burger Lines */

.logo svg {
  width: 25px;
  height: 100%;
}

.link {
  display: inline-flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  color: #d4d6d4;
  transition: color 0.3s ease-in-out;
}

.link svg {
  width: 12px;
  height: 12px;
  fill: currentColor;
  transform: translateY(1px);
}

.link span {
  text-indent: 10px;
  border-bottom: 1px solid currentColor;
}

.link:hover {
  color: #ffd723;
}

.hero-link {
  color: #ffd723;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero {
  padding-top: 189px;
  padding-bottom: 100px;
  min-height: 811px;
  background-image: url(../img/hero-img.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-subtitle {
  display: inline-block;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 21px;
}

.hero-content {
  max-width: 616px;
  color: #fff;
}

.hero-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
}

.hero-descr {
  margin: 0;
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 26px;
}

/* SERVICES */
.services {
  margin-bottom: -180px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.site-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #4d533c;
}

.services-title {
  max-width: 611px;
  margin: 0;
  margin-bottom: 87px;
}

.services-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.services-subtitle {
  margin: 0;
  max-width: 183px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #4d533c;
}

.services-descr {
  margin: 0;
  max-width: 194px;
  margin-bottom: 56px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
}

.services-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.services-link {
  margin-bottom: 0;
  margin-top: auto;
}
/* END OF SERVICES */

.get-started {
  position: relative;
  top: 180px;
  width: 88%;
  padding: 70px 0;
  background-color: #fafafa;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}

.get-started-title {
  max-width: 822px;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  color: #4d533c;
}

.get-started-link {
  text-transform: uppercase;
}

/* FOOTER */
.footer {
  padding-top: 300px;
  color: #fff;
  background-image: url("../img/footer-bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 52px;
  border-bottom: 1px solid #5d6544;
}

.footer-contacts-item:not(:last-child) {
  margin-right: 128px;
}

.footer-contacts-text {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 40px;
  color: #b6c197;
}

.footer-contacts-value {
  display: inline-block;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
}

.footer-column:last-child {
  position: relative;
}

.footer-column:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-1 * (var(--grid-gap)));
  width: 1px;
  height: 100%;
  background: #5d6544;
}

.footer-middle {
  --grid-gap: 70px;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(4, 1fr);
  padding: 60px 0;
  border-bottom: 1px solid #5d6544;
}

.footer-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 40px;
  color: #b6c197;
  text-decoration: none;
}

.footer-title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  text-transform: uppercase;
  color: #fff;
}

.footer-text {
  font-weight: normal;
  font-size: 16px;
  color: #b6c197;
  line-height: 2.3;
}

.footer-mail {
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  width: 100%;
  height: 89 px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo svg {
  width: 10px;
  height: 100%;
}

.footer-img {
  width: 10px;
  width: 66px;
}
/* END OF FOOTER */
